{% extends "base.html" %}

{% block content %}
<h1>Live Detection</h1>

<div class="stream-card">
    <h2>Camera Stream</h2>

    <p>
        Camera status:
        <span style="background:#16a34a;color:white;padding:6px 14px;border-radius:20px;">
            Running
        </span>
    </p>

    <img
        src="/video-feed/"
        alt="Live Camera Stream"
        style="width:100%;max-width:900px;border-radius:20px;background:#000;"
    >

    <br><br>
    <a href="/">Back to Dashboard</a>
</div>
{% endblock %}
